// footer/index

@mixin flex($wrap, $flex-d, $align){
    flex-wrap: $wrap;
    flex-direction: $flex-d;
    align-items: $align;
}
@mixin flex($wrap, $flex-d, $align){
    flex-wrap: $wrap;
    flex-direction: $flex-d;
    align-items: $align;
}