@mixin flex($wrap, $justify, $aling){
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $aling;
}
@mixin flex($wrap, $row, $justify){
    flex-wrap: $wrap;
    flex-direction: $row;
    justify-content: $justify;
}
@mixin grid($cols, $rows, $wrap){
    grid-template-columns: $cols;
    grid-template-rows: $rows;
    flex-wrap: $wrap;
}
@mixin flex($bg, $wrap, $col){
    background-color: $bg;
    flex-wrap: $wrap;
    flex-direction: $col;
}
@mixin flex($wrap, $justify, $padd){
    flex-wrap: $wrap;
    justify-content: $justify;
    padding-bottom: $padd;
}
@mixin flex($wrap, $justify,$font-s){
    flex-wrap: $wrap;
    justify-content: $justify;
    font-size: $font-s;
}
@mixin flex($wrap, $justify, $col){
    flex-wrap: $wrap;
    justify-content: $justify;
    flex-direction: $col;
}
@mixin a($color, $text, $pad){
    color: $color;
    text-decoration: $text;
    padding: $pad;
}
@mixin flex($wrap, $justify, $bg){
    flex-wrap: $wrap;
    justify-content: $justify;
    background-color: $bg;
}
@mixin flex($wrap, $flex-direction, $text-deco){
    flex-direction: $flex-direction;
    flex-wrap: $wrap;
    text-decoration: $text-deco;
}