// media/768/hombres
@mixin flex($flex-d, $align, $bg){
    flex-direction: $flex-d;
    align-items: $align;
    background-color: $bg;
}
@mixin grid($col, $rows, $wid){
    grid-template-columns: $col;
    grid-template-rows: $rows;
    width: $wid;
}