// main/index

@mixin grid($col, $rows, $wrap){
    grid-template-columns: $col;
    grid-template-rows: $rows;
    flex-wrap: $wrap;
}
@mixin flex($bg, $wrap, $flex-d){
    background-color: $bg;
    flex-wrap: $wrap;
    flex-direction: $flex-d;
}
@mixin flex($wrap, $justify, $padd-b){
    flex-wrap: $wrap;
    justify-content: $justify;
    padding-bottom: $padd-b;
}
@mixin flex($wrap, $justify, $font-s){
    flex-wrap: $wrap;
    justify-content: $justify;
    font-size: $font-s;
}
@mixin flex($wrap, $justify, $flex-d){
    flex-wrap: $wrap;
    justify-content: $justify;
    flex-direction: $flex-d;
}
@mixin flex($wrap, $justify,$bg){
    flex-wrap: $wrap;
    justify-content: $justify;
    background-color: $bg;
}
@mixin flex($wrap, $flex-d, $text-d){
    flex-wrap: $wrap;
    flex-direction: $flex-d;
    text-decoration: $text-d;
}
@mixin flex($wrap, $justify, $padd){
    flex-wrap: wrap;
    justify-content: $justify;
    padding: $padd;
}