$color-blanco: #fff;
$color-negro: #000;
$color-gris: #ffffff7a;
$color-azul: #0d6efd;
$color-azul-claro: #cfe2ff;
$color-azul-oscuro: #002752;
$color-rojo: #dc3545;
$color-rojo-claro: #f0a980;
$color-coral: #ff7f50;
$color-coral-claro: #f08080;
$color-rojo-oscuro: #721c24;
$color-verde: #198754;
$color-verde-claro: #80f0a5;
$color-verde-oscuro: #155724;
$color-violeta: #f080f0;
$color-amarillo: #fae987;
$color-rosa: #fa8f87;
$color-celeste: #87d5fa;
