.principio{
    background-color: rgb(250, 233, 135);
    width: 100%;
    padding: 15px;
    @include flex(wrap, space-between, center);
    img{
        width:150px;
        height: 130px;
        border-radius: 15%;
    }
    h1{
        font-family:'Arvo', serif;
        font-size: 70px;
        align-self: flex-start;
    }
    p{
        align-self: flex-end;
        font-family:'Anton', sans-serif; 
        font-size: 20px;
    }
}
.navbar{
    background-color: rgb(250, 233, 135);
    width: 100%;
    height: auto;
    ul{
        @include flex(wrap, row, center);
        padding-bottom: 10px;
    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 25px;
        padding: 10px;
    }
    a:hover{
        background-color: rgb(250, 143, 135) ;
        border-radius: 15%;
        }
    }