.principio{
    background-color:rgb(250, 233, 135); 
    width: 100%;
    @include flex(wrap, space-between, center);
    padding: 15px;
    img{
        width: 150px;
        height: 130px;
        border-radius: 15%;
    }
    h1{
        font-family: 'Arvo', serif;
        font-size: 70px;
        align-self: flex-start;
    }
    p{
        align-self: flex-end;
        font-family: 'Anton', sans-serif;
        font-size: 20px;
    }
}
.navbar{
    background-color: rgb(250, 233, 135) ;
    width: 100%;
    height: auto;
    ul{
        @include flex(wrap, row, center);
        gap: 10px;
        padding-bottom: 10px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
                font-size: 25px;
                padding: 10px;
                &:hover{
                    background-color:black;
                    color: white;
                    border-radius: 5px;
                }
            }   
        }
    }
}