/* hombres/mujeres */
.hero {
    @include grid-primario(grid, repeat(4, 1fr), repeat(10, 1fr),  "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer");
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
header{
    background-color: $color-amarillo;
    grid-area: header;
}
main{
    background-color: white;
    grid-area: main;
}
footer{
    background-color: $color-coral;
    grid-area: footer;
}