.login-container{
    background-color: pink;
    @include flex(wrap, center, 10px);
}
.login-title-container{
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 3px;
    align-items: center;
}
.login-title{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}
.login-subtitle{
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
}
.form-container{
    @include flex(wrap, column, center);
}
.input-container{
    font-size: 30px;
    padding-bottom: 10px;
}
.bottom-container{
    @include flex(wrap, column, center);
    padding-top: 10px;
}
.bottom{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}