.contactos{
    background-color: pink;
    @include flex(wrap, row, space-evenly);
    align-items: center;
    gap: 20px;
}
.whatsapp{
    @include flex(wrap, column, center);
    border-radius: 5px;
    padding: 10px;
    img{
        width: 100px;
        height: 100px;
        border-radius: 3px;
    }
    p{
        font-size: 40px;
        font-weight: 300;
    }
}
.facebook{
    @include flex(wrap, column, center);
    border-radius: 5px;
    padding: 10px;
    img{
        width: 100px;
        height: 100px;
        border-radius: 3px;
    }
    p{
        font-size: 40px;
        font-weight: 300;
    }
}
.instragram{
    @include flex(wrap, column, center);
    border-radius: 5px;
    padding: 10px;
    img{
        width: 100px;
        height: 100px;
        border-radius: 3px;
    }
    p{
        font-size: 40px;
        font-weight: 300;
    }
}
.mail{
    @include flex(wrap, column, center);
    border-radius: 5px;
    padding: 10px;
    img{
        width: 100px;
        height: 100px;
        border-radius: 3px;
    }
    p{
        font-size: 40px;
        font-weight: 300;
    }
}