.hero{
    width: 100%;
    height: 100vh;
    @include grid(repeat (4,1fr),repeat (6,1fr), wrap);
    grid-template-areas: 
    "header header header header"
    "main main main main" 
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer"
    ;
}
header{
    background-color: rgb(250, 233, 135);
    grid-area: header;
}
main{
    background-color: white;
    grid-area: main;
}
footer{
    background-color: coral;
    grid-area: footer;
}