@media (max-width:768px){
    .principio{
        @include flex(column, start, blue );
        width: auto;
        img{
            width: 100px;
            height: 90px;
        }
        h1{
            font-size: 30px;
            color: white;
        }
        p{
            color: white;
            font-size: 18px;
        }
    }
    .navbar{
        background-color: blue;
        display: flex;
        justify-content: flex-start;
        li a {
            color: white;
            font-size: 15px;
            padding: 8px;
        }
    }
    .login-container{
        display: flex;
        background-color: lightcoral;
    }
    .login-title{
        font-size: 40px;
    }
    .login-subtitle{
        font-size: 20px;
    }
    .input-container{
        font-size: 20px;
    }
    .buttom{
        background-color: lightgreen;
    }
    .pie{
        width: 100%;
        height: auto;
        background-color: coral;
    }
    .card-container{
        justify-items: flex-start;
    }
    .seguinos{
        font-size: 20px;
    }
}