@media (max-width:320px){
    .principio{
        width: auto;
        background-color:rgb(153, 0, 255) ;
    }
    main-primario{
        @include grid(repeat(1,1fr), repeat(4,auto), black);
        width: 100%;
        height: auto;
        grid-template-areas: 
        "seguinos"
        "novedades"
        "hombres"
        "mujeres"
        ;
    }
}