@media(max-width: 768px){
    .contactos{
        background-color: lightpink;
        justify-content: center;
    }
    .whatsapp img{
        width: 70px;
        height: 70px;
        p{
            font-size: 25px;
            font-weight: 100;
        }
    }
    .facebook img{
        width: 70px;
        height: 70px;
        p{
            font-size: 25px;
            font-weight: 100;
        }
    }
    .instagram img{
        width: 70px;
        height: 70px;
        p{
            font-size: 25px;
            font-weight: 100;
        }
    }
    .mail img{
        width: 70px;
        height: 70px;
        p{
            font-size: 25px;
            font-weight: 100;
        }
    }
}