@media (max-width: 768px){
    .principio{
        @include flex(column, start, blue);
        width: auto;
        img{
            width: 100px;
            height: 90px;
        }
        h1{
            font-size: 30px;
            color: white;
        }
        p{
            color: white;
            font-size: 18px;
        }
    }
    .navbar{
        background-color: blue;
        display: flex;
        justify-content: flex-start;
        li a{
            color: white;
            font-size: 15px;
            padding: 8px;
        }
    }
    .hero{
        @include grid(repeat(2,auto), repeat(6,auto), 100%);
        height: auto;
        grid-template-areas: 
            "header header"
            "main main"
            "main main"
            "main main"
            "main main"
            "footer footer"
            ;
    }
    header{
        grid-area: header;
        background-color: lightblue;
    }
    main{
        grid-area: main;
        background-color: white;
    }
    footer{
        grid-area: footer;
        background-color: lightcoral;
    }
}