@media (max-width:768px){
.principio{
    @include flex(column, start, blue);
    width: auto;
    img{
        width: 100px;
        height: 90px;
    }
    h1{
        font-size: 30px;
        color: white;
    }
    p{
        color: white;
        font-size: 18px;
    }
}
.navbar{
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    li a {
        color: white;
        font-size: 15px;
        padding: 8px;
    }
}
.main-primario{
    @include grid(repeat (2,auto), repeat(5,auto), black);
    width: auto;
    height: auto;
    grid-template-areas: 
    "seguinos novedades"
    "seguinos novedades"
    "seguinos hombres"
    "seguinos hombres"
    "mujeres mujeres"
    ;
}
.cards-container-title h2{
    font-size: 35px;
}
.cards-container img{
    width: 150px;
    height: 130px;
}
.pie{
    width: 100%;
    height: auto;
    background-color: coral;
}
.card-container{
    justify-items: flex-start;
}
.seguinos{
    font-size: 20px;
}
}